wheel/vllm-*.whl
wheel/torch-2.5.0*.whl
wheel/onnxruntime_gpu*.whl
wheel/torch_tensorrt*.whl
wheel/pycuda*.whl
wheel/torchvision-0.23.0*.whl
*.engine
*.onnx
videos/
influxdb/
grafana/provisioning/dashboards/yolo11n-dashboard.json.bak
docs/
scripts/
__pycache__/
*.log
